@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* -- STYLES -- */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 32px;
    background: rgb(242, 242, 242);
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 64px;
    max-width: 1110px;
}

/* INFO */
.info {
    text-align: center;
}

.info__title {
    font-size: 36px;
    letter-spacing: 0.25px;
    line-height: 54px;
}

.info__title--thin {
    font-weight: 275;
}

.info__title--bold {
    font-weight: 600;
    margin-bottom: 13px;
}

.info__text {
    color: rgba(77, 79, 98, 0.5);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.1px;
    max-width: 540px;
}

/* CARDS */

.cards {
    display: flex;
    align-items: center;
    gap: 30px;

}

.cards--grouped {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: calc((100% - 2 * 30px) / 3)
}

.card {
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    flex: 1;
    flex-basis: 250px;
    height: 250px;
}

.card--cyan::before,
.card--red::before,
.card--yellow::before,
.card--blue::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    top: 0;
    left: 0;
}

.card--cyan::before {
    background-color: rgb(68, 211, 210);
}

.card--red::before {
    background-color: rgb(234, 84, 84);
}

.card--yellow::before {
    background-color: rgb(252, 174, 74);
}

.card--blue::before {
    background-color: rgb(84, 158, 242);
}

.card__title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    margin-bottom: 6px;
}

.card__text {
    color: rgba(77, 79, 98, 0.5);
    font-weight: 400;
    letter-spacing: 0.09px;
}

.card__img {
    width: 64px;
    height: 64px;
    align-self: flex-end;
    margin-top: auto;
}

/* MOBILE */

@media (max-width:1280px) {
    body {
        height: initial;
    }

    .app-container {
        height: initial;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        max-width: 350px;
    }
}

@media (max-width: 560px) {
    body {
        padding: 85px 32px;
    }

    .info__title {
        font-size: 24px;
        letter-spacing: 0.17px;
        line-height: 36px;
    }
}